body {
  background-color:black;
}

.socialMediaHeader {
  text-align: center;
}

.socialMediaHeader li {
  display: inline-block;
  list-style: none;
}

.socialMediaHeader li img {
  max-width: 30px;
}
/*nav bar shit***********************************************************/

nav {
  background-color: black;
  text-align: center;
  padding: 2.5% 10%;
  border: solid lightgreen 6px;
}

nav ul li a {
  color: lightgreen;
  padding: 5%;
  margin: 10%;
  font-family: 'Inconsolata', sans-serif ;
  text-decoration:none;
}

nav ul li {
  display: inline-block;
  list-style: none;
}

.selected {
  background-color: lightgreen;
  color: black;
}

/****************************************************************************/

/*main page *********************************************************************/

.about img {
  margin: 1% 25%;
  max-width: 50%;
}






/*about page ************************************************************************/

.about {
  display: block;
  text-align: center;
  border: solid lightgreen 6px;
  margin: 2% 15%;
  padding: 2% 10%;
  background-color: black;
  color: lightgreen;
  font-family: 'Inconsolata', sans-serif ;
  min-height: 40%;
}